VITE_AZURE_TENANT_ID=
VITE_AZURE_CLIENT_ID=
VITE_SHAREPOINT_SITE_ID=
VITE_SHAREPOINT_LIST_ITEMS=Items
VITE_SHAREPOINT_LIST_MEETINGS=Meetings
VITE_SHAREPOINT_LIST_MEETINGENTRIES=MeetingEntries
VITE_SHAREPOINT_LIST_DECISIONS=Decisions
VITE_SHAREPOINT_LIST_ACTIONITEMS=ActionItems
VITE_SHAREPOINT_LIST_VENDORS=Vendors
